@charset "utf-8";
/* CSS Document */
h1 { text-align:center; }

.subtitulo { font-size:12px; }

body { background-color:#fff; }

table td { text-align:center; border:1px #000 dotted; }

table .sin { border:0; }

table .bot {
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila {
	font-size:1.5em;
	text-decoration:underline;
	background-color:#000099;
	color: #fff;
}

.centrado { text-align:center; }

